/* * {
    border: 1px solid #ffffff;
} */

html {
    overflow-x: hidden;
}

body {
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    background-color: #333333;
}

header {
    text-align: center;
    border-bottom: 1px solid #ffffff;
}

a {
    color: #f39c12;
    text-decoration: none;
}

.main-content {
    padding-left: 1vw;
    width: 70vw;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.msg-content {
    margin: 5px;
    flex-grow: 0.9;
    background-color: #555555;
    border-radius: 5px;
    overflow-y: auto;
}

#messages {
    padding: 10px;
}

.msg {
    display: block;
    background-color: #777777;
    margin: 5px;
    padding: 2px 10px;
    font-size: 120%;
    border-radius: 5px;
    overflow: auto;
    min-width: 10%;
    max-width: 33%;
    width: fit-content;
}

p span {
    font-size: 80%;
    font-style: italic;
}

input,
button {
    font-size: 120%;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

footer {
    text-align: center;
    border-top: 1px solid #ffffff;
    padding-top: 30px;
}

.ion-icon {
    color: #ffffff;
}

.send-btn,
#send-location {
    color: #ffffff;
    background-color: #333333;
}

.side-bar {
    width: 25vw;
    float: right;
    border-left: 1px solid #777777;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.side-bar ul {
    list-style: none;
    padding: 5px 0 0 20px;
    flex-grow: 1;
}

.side-bar li {
    margin: 5px 0;
}