* {
    border: 1px solid transparent;
}

html {
    overflow: hidden;
}

body {
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    background-color: #333333;
    margin: 0;
}

header {
    text-align: center;
    border-bottom: 1px solid #ffffff;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-style: italic;
}

img {
    width: 10vw;
    height: auto;
    padding: 10px 0;
    margin: auto 0;
}

h1,
h2 {
    text-align: center;
}

.join-form {
    position: relative;
    min-height: 100vh;
}

.form-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    border: 1px solid #777777;
    padding: 20px;
}

.join-form input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.join-form button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.join-form button:hover {
    background-color: #45a049;
}

.main-content {
    padding-left: 1vw;
    width: 70vw;
}

.msg-content {
    margin: 5px;
    background-color: #555555;
    border-radius: 5px;
    min-height: 70vh;
    max-height: 70vh;
    overflow-y: scroll;
}

#messages {
    padding: 10px;
}

.my-msg,
.msg {
    display: block;
    background-color: #777777;
    margin: 5px;
    padding: 2px 10px;
    font-size: 120%;
    border-radius: 5px;
    overflow: auto;
    min-width: 10%;
    max-width: 50%;
    width: fit-content;
}

.my-msg {
    background-color: rgba(69, 160, 73, 0.7);
}

.msg-details {
    position: relative;
    min-height: fit-content;
    margin-bottom: 0
}

p span {
    font-size: 75%;
    position: absolute;
    top: 0;
}

input,
button {
    font-size: 120%;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
}

.main-content input,
.main-content button {
    float: left;
}

.main-content button:hover {
    background-color: #45a049;
}

.main-content input {
    width: 45%;
}

footer {
    border-top: 1px solid #ffffff;
    padding-top: 30px;
}

.ion-icon {
    color: #4CAF50;
    font-size: 100%;
}

.send-btn,
#send-location {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

#send-location {
    float: right;
}

.sidebar {
    width: 26vw;
    float: right;
    border-left: 1px solid #777777;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.sidebar ul {
    padding: 5px 0 0 20px;
    flex-grow: 1;
}

.sidebar li {
    margin: 5px 0;
    padding: 10px;
}